@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
/* PIRATA ONE | font-family: "Pirata One", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* ARVO | font-family: "Arvo", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  --cor-primaria: rgb(56, 14, 2);
  --cor-hover: rgb(0, 0, 0);
  --font-titulo: "Pirata One", system ui;
  --font-wanted: "Libre Bodoni", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1ceb7
}

.inicial {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.inicial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: -1;
}

.header {
    width: 100%;
    height: 8vh;
    padding: 20px 0;
}

.header .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 200px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    font-size: 40px;
    font-weight: 400;
    transition: 0.1s;
}

.nav-item a:hover {
    color: var(--cor-hover);
    font-weight: 500;
    border-bottom: 3px solid var(--cor-hover);
    border-radius: 9%;
}

.navbar .btn-div {
    display: flex;
    gap: 10px;
}

.btn-default {
    border: none;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 12px;
    padding: 10px 14px;
    font-family: "Arvo", serif;
    font-weight: 200;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: 0.2s;
}

.btn-default:hover {
    background-color: var(--cor-hover);
    color: rgb(255, 255, 255);
}

.main {
    width: 100vw;
    min-height: 130vh;
    display: flex;
    justify-content: center;
}

.texto {
    margin: 5rem 0 0;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.main-title {
    font-size: 100px;
    font-family: var(--font-wanted);
    font-weight: 1000;
    color: var(--cor-primaria);
}

.painel-wanted {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    width: 95vw;
    min-height: 100vh;
    margin-left: 2vw;
    box-sizing: border-box;
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    padding: 40px 20px 30px;
}

.subtitle {
    grid-column: span 5;
    text-align: center;
    font-family: var(--font-wanted);
    color: var(--cor-primaria);
    font-weight: 1000;
    font-size: 50px;
}

.personagem-box {
    width: 15vw;
    height: 40vh;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.personagem-box:hover {
    transform: scale(1.1);
}

.luffy { background-image: url(../assets/wanted/luffy-wanted.webp); background-size: cover;}
.zoro { background-image: url(../assets/wanted/zoro-wanted.webp); background-size: cover;}
.nami { background-image: url(../assets/wanted/nami-wanted.webp); background-size: cover;}
.usopp { background-image: url(../assets/wanted/usopp-wanted.webp); background-size: cover;}
.sanji { background-image: url(../assets/wanted/sanji-wanted.webp); background-size: cover;}
.chopper { background-image: url(../assets/wanted/chopper-wanted.webp); background-size: cover;}
.robin { background-image: url(../assets/wanted/robin-wanted.webp); background-size: cover;}
.franky { background-image: url(../assets/wanted/franky-wanted.webp); background-size: cover;}
.brook { background-image: url(../assets/wanted/brook-wanted.webp); background-size: cover;}
.jinbe { background-image: url(../assets/wanted/jinbe-wanted.webp); background-size: cover;}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ddffff; 
    border-top: 2px solid rgb(224, 224, 224); 
    padding: 20px 0;
    text-align: center;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: auto;
}

footer img {
    width: 20%;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}





